[2012-02-21 22:17] mockturtl opened #1 "l10n"
Need to see how l10n works for applets.

[2012-02-22 09:16] #1 closed, assigned to mockturtl

[2012-02-22 10:12] mockturtl opened #2 "Symbolic icons"

[2012-02-22 23:15] #2 closed, assigned to mockturtl

[2012-02-23 23:07] mockturtl opened #5 "uninstall, install cycle crashes Cinnamon"
To reproduce: `./uninstall.sh`, restart Cinnamon, `./install.sh`.  Restarting Cinnamon crashes.

Doesn't matter whether the applet is disabled through `cinnamon-settings` first.

[2012-02-23 23:58] #5 closed, assigned to nobody

[2012-04-05 23:11] mockturtl opened #8 "add sunrise/sunset times"

[2012-04-06 00:16] #8 closed, assigned to nobody

[2012-05-01 03:17] mockturtl opened #9 "ppa"
Get Cinnamon up in precise and investigate.

[2012-05-23 23:18] mockturtl opened #10 "yahoo redirect broken"
Clicking the city name should open the Yahoo weather page in a browser.

[2012-05-31 09:06] autarkper opened #12 "Display time of last update or time from last refresh"
It would be very helpful to be able to see the time of the last weather update for one's chosen location. Alternatively, you could display how many minutes old the information is. As things are now, one can only hope that the data shown is reasonably up-to-date.

[2012-05-31 09:09] autarkper opened #13 "Multiple locations"
With the Gnome2 weather applet, one could choose multiple locations, or rather, have many instances of the weather applet, one for each location. As far as I can see, it is not possible to have many instances of the same applet in Cinnamon, so I wish there were a way to have multiple locations in cinnamon-weather.

[2012-06-10 10:50] #10 closed, assigned to mockturtl

[2012-07-02 18:05] chrismatinez81 opened #14 "stopped working"
ive been using this applet for the past month and its worked great but 2 days ago it stopped working.  ive tried to uninstall and still not working

[2012-07-14 19:41] mockturtl opened #17 "city name not localized"
[location](https://github.com/mockturtl/cinnamon-weather/blob/master/applet.js#L400)
[label](https://github.com/mockturtl/cinnamon-weather/blob/master/applet.js#L485)

[2012-07-14 19:43] mockturtl opened #18 "localize settings UI"
from the [mailing list](https://groups.google.com/forum/?fromgroups#!topic/cinnamon-weather/4ke8QWQiWCw):

I didn't try to localize the python script or the underlying gsettings keys.  It seems low value to me, but I'm a native English speaker.

It shouldn't be difficult.  I'm certainly willing to try if there is demand.

[2012-07-18 04:33] mockturtl opened #20 "degree symbol should hug temperature value"
Get rid of the whitespace.

[2012-08-29 18:50] #14 closed, assigned to nobody

[2012-09-22 18:56] mockturtl opened #21 "gettext not working in refreshWeather"
via email:

[2012-09-24 20:24] #21 closed, assigned to mockturtl

[2012-09-25 15:12] brianjmurrell opened #23 "doesn't work with proxies?"
I can't seem to get cinnamon-weather working on one particular machine here and the only particularly peculiar is that it has to use a proxy for network access.  Has network proxy been tested to work?

[2012-09-26 18:13] #23 closed, assigned to nobody

[2012-10-15 18:59] #20 closed, assigned to mockturtl

[2013-01-08 18:05] mockturtl opened #26 "tooltip not localized"
[readme](https://github.com/mockturtl/cinnamon-weather/commit/094acb8ad7181173f3124b096ae95673f52a1adc#commitcomment-2389481)

[2013-01-08 18:06] #26 closed, assigned to mockturtl

[2013-01-17 22:33] mockturtl opened #27 "change packaging"
Output folder should be named UUID for cinnamon-settings compatibility in 1.8.

[2013-01-17 23:02] mockturtl opened #28 "new settings format"
1.8 lists defaults in `metadata.json`.

[example](https://github.com/rjanja/desktop-capture/blob/master/capture%40rjanja/metadata.json)

[2013-02-07 04:09] mockturtl opened #29 "libgweather"
https://mail.gnome.org/archives/desktop-devel-list/2012-December/msg00000.html

[2013-03-03 12:55] hcgpalm opened #30 "Applet fails to close TCP connections to yahoo API"
As evident from the output from netstat -a, cinnamon-weather leaves half closed TCP connections to yahoo around:
$ netstat -a|grep yts1
tcp        1      0 x200:35402              yts1.yql.vip.bf1.y:http CLOSE_WAIT
tcp        1      1 x200:35386              yts1.yql.vip.bf1.y:http LAST_ACK

A tcpdump shows the following packet exchange:
1. The applet receives and acknowledges the HTTP 200 OK resp

[2013-03-03 16:07] hcgpalm opened #31 "Internationalization"
It would be nice if the applet had options to show;
1. Air pressure as metric hPa (mbar equivalent) or kPa (se http://en.wikipedia.org/wiki/Pascal_%28unit%29#Hectopascal_and_millibar_units)
2. Sunrise and sunset times in 24 hour format

[2013-03-21 13:52] qznc opened #32 "system-wide installation"
I just tried to package this for Fedora (actually for the Korora spinoff). However, the install.sh is hardcoded to per-user installation. At least partially, it also installs a few things system-wide.

[2013-05-27 08:56] sguizard opened #34 "installation improvement : cinnamon-weather-settings"
Clicking on gear icon do not launch cinnamon-weather-settings. Need to add execution right on ~/.local/share/cinnamon/applets/weather@mockturtl/cinnamon-weather-settings and add a symlink in /usr/local/bin

chmod 755 ~/.local/share/cinnamon/applets/weather@mockturtl/cinnamon-weather-settings
cd /usr/local/bin
sudo ln -s ~/.local/share/cinnamon/applets/weather@mockturtl/cinnamon-weather-settings

[2013-05-27 16:31] #34 closed, assigned to nobody

[2013-05-30 00:06] bwat47 opened #35 "Cinnamon-weather-settings not found"
Installed this via mint 15's in built extension downloader/installer. Applet shows in panel but I can't change setttings, just says "cinnamon-weather-settings" not found

[2013-06-05 05:35] Angsereg opened #36 "5-Day forecast only displays the first two days"
Looks like Yahoo changed their api a bit a while back. After some research, and trial and error, I found the solution, and it's pretty simple. With Yahoo's current API, you have to specify the number of days in the weather report, the default is two - today and tomorrow.

I actually made two corrections. The first was to stop an error from hitting my .xsession-errors (something about 'e' not being

[2013-06-11 00:54] #35 closed, assigned to nobody

[2013-06-11 17:05] #32 closed, assigned to nobody

[2013-06-11 17:06] #9 closed, assigned to nobody

[2013-06-11 17:08] #30 closed, assigned to nobody

[2013-06-11 18:01] mockturtl opened #37 "comp: Unity weather indicator"
http://packages.ubuntu.com/search?keywords=indicator-weather

[2013-06-11 18:32] #27 closed, assigned to mockturtl

[2013-06-11 18:33] #28 closed, assigned to mockturtl

[2013-06-11 22:17] #36 closed, assigned to nobody

[2013-06-13 17:22] collinss opened #39 "Add direct access to settings"
It would be very handy to have an option in the right-click menu to open the settings window. You can do this by simply adding the following to MyApplet._init:

[code]

[2013-06-13 19:02] #39 closed, assigned to mockturtl

[2013-06-25 15:19] mockturtl opened #41 "woeid field -> callback button"
`xdg-open WOEID_URL`

[2013-06-25 16:24] #41 closed, assigned to mockturtl

[2013-06-25 16:26] #13 closed, assigned to mockturtl

[2013-07-05 05:52] steevithak opened #43 "cinnamon-weather applet won't start"
I've just installed Fedora 19 with the Cinnamon desktop. I added several applets successfully to the status bar but adding the weather applet doesn't work. No weather applet appears on the status bar, nor does any error message appear. I tried first going to the "configure" dialog in the applet installer and configured all the fields I could. There is no field to enter a geographical location, whi

[2013-07-05 12:55] #43 closed, assigned to nobody

[2013-07-08 14:58] mockturtl opened #44 "update Finnish translation"
via email

[2013-07-10 20:09] poliltimmy opened #45 "This makes ubuntu tweak crash on launch"
On my Mint 13 x64 install ubuntu tweak will shows splash and not start. Trying to launch in terminal shows error with:
 $ ubuntu-tweak

(ubuntu-tweak:3731): GConf-WARNING **: : You can't use a GConfEngine that has an active GConfClient wrapper object. Use GConfClient API instead.

(ubuntu-tweak:3731): GConf-WARNING **: : You can't use a GConfEngine that has an active GConfClient wrapper object. Us

[2013-07-24 22:14] OhoBoho opened #47 "The aplet do not start"
Hi ,
Here is the output from the glass.log:

error t=2013-07-24T22:03:37Z weather@mockturtl:34 Error: No JS module 'settings' found in search path
error t=2013-07-24T22:03:37Z Failed to load applet panel1:right:0:weather@mockturtlTypeError: e is null

Can you advise where to look the fix?

[2013-07-27 17:41] #44 closed, assigned to mockturtl

[2013-07-30 05:08] dcharlespyle opened #49 "Weather applet does not do more than load but not show data."
I noticed that the applet would not load at all.  I did the fix for F19 and the program now loads but only shows curved arrows.  Checking glass.log gives me the following.

$ tail -f ~/.cinnamon/glass.log
info t=2013-07-30T04:41:14.661Z Loaded applet windows-quick-list@cinnamon.org in 4 ms
info t=2013-07-30T04:41:14.682Z Loaded applet weather@mockturtl in 20 ms
error t=2013-07-30T04:41:18.569Z wea

[2013-07-30 05:20] #49 closed, assigned to nobody

[2013-08-12 16:07] #47 closed, assigned to mockturtl

[2013-08-17 23:47] #45 closed, assigned to nobody

[2013-08-17 23:49] #18 closed, assigned to nobody

[2013-11-18 01:18] mockturtl opened #52 "add CONTRIBUTING"
https://github.com/blog/1184-contributing-guidelines

[2013-12-13 01:45] geoffm opened #53 ""Not available" error message"
Applet shows a big "Not available" label
![cinnamon weather not available](https://f.cloud.github.com/assets/901518/1739276/bf143a80-6397-11e3-9a7d-341e3c513f87.png)
additionnaly, the "Override location label" doesn't do anything.

[2013-12-20 22:42] mockturtl opened #54 "override location label doesn't work"
via email

[2014-01-07 18:22] mockturtl opened #55 "add wind chill"
via email

[2014-01-07 20:07] #55 closed, assigned to mockturtl

[2014-01-22 23:51] mockturtl opened #56 "installation fails in maya/backports: 'Errno 2 no such file or directory'"
![](https://groups.google.com/group/cinnamon-weather/attach/f9fc34f607d70b6c/Screenshot%20from%202014-01-22%2015:36:15.png?part=5&authuser=0)

[report](https://groups.google.com/d/msg/cinnamon-weather/EEZQRG2R8jw/bAvXB_Y0_PkJ)

---

To reproduce:

Install maya via [iso](http://www.linuxmint.com/release.php?id=18); enable [backports](http://packages.linuxmint.com/list.php?release=Maya#backport) and

[2014-02-23 05:00] mockturtl opened #60 "syntax"
https://github.com/mockturtl/cinnamon-weather/blame/master/applet.js#L74

[2014-04-03 23:38] mockturtl opened #61 "localize settings"
Via email.

See `cinnamon-json-makepot`; linuxmint/Cinnamon#2283.

[2014-04-05 00:42] #60 closed, assigned to mockturtl

[2014-04-05 00:43] #61 closed, assigned to mockturtl

[2014-04-12 10:42] ghost opened #64 "Text alignment"
There appears to be no way of aligning the text of the conditions with their values!
![secondary_002](https://cloud.githubusercontent.com/assets/5655339/2687024/270bbfdc-c22f-11e3-93d8-9ee188a07159.png)

[2014-04-12 10:43] ghost opened #65 "Adding 2 new boxes"
Is it possible to add 2 new boxes to this applet?It would be extremely useful for themeing purposes!
![secondary_001](https://cloud.githubusercontent.com/assets/5655339/2687029/49968c8a-c22f-11e3-8820-618017aa9c10.png)

[2014-05-04 18:50] #65 closed, assigned to nobody

[2014-05-04 18:56] #56 closed, assigned to mockturtl

[2014-07-11 15:42] iwis opened #73 "Notification area icon is hardly visible"
severity: major
reproducibility: always
category: UI, Usability
os version: Mint Cinnamon 16 and 17, 64-bit (Cinnamon 2.2, 2.0.14)

**Description**: Applet icon in default Mint Cinnamon theme (the theme is named "Linux Mint") is hardly visible:
![applet-weather - default icon](https://cloud.githubusercontent.com/assets/8080496/3554914/888bda66-0911-11e4-9b2f-86c11da337dc.jpg)
The icon is also hard

[2014-07-13 16:59] iwis opened #74 "[UI tweak] Displaying "19°" instead of "19 °C" in notification area"
related to: https://github.com/mockturtl/cinnamon-weather/issues/20

It takes a lot of space to display weather icon and current temperature with unit of measurement - about three times more than a standard icon (for example power or network icon). By displaying only "°" instead of " °C"/" °F" we will occupy a space that is normally occupied by only two icons. If one set the unit of measurement, f

[2014-07-13 17:33] iwis opened #75 "[trivial] Default options"
I would like to have a computer system that can be installed and configured according to my preferences without too many steps that I have to do manually. This is specifically important for Mint because a new version arrives every 6 months and an installation from the beginning is recommended.
Is it good idea to select by default the options that are used by most people? For example if most people

[2014-10-29 07:19] martinrotter opened #84 "How to load translations in Archlinux"
Hello.

I adopted package cinnamon-weather for Archlinux (https://aur.archlinux.org/packages/cinnamon-applet-weather/). I had to fix the build script and discovered some issues.

See the build script (https://aur.archlinux.org/packages/ci/cinnamon-applet-weather/PKGBUILD).
1. I had to remove ro.po and zh_CN.po from the build because they cause errors in msgmft tool.
2. When it is build and install

[2014-10-29 17:48] #84 closed, assigned to nobody

[2014-10-31 00:51] mockturtl opened #85 "display error message on failure"
@crosser writes: https://github.com/mockturtl/cinnamon-weather/issues/49#issuecomment-61058048

[2015-01-12 20:23] kghbln opened #104 "Where are the translations done?"
According to the homepage of this applet it is done here but the last translation update suggests otherwise. Should I just open a pull request?

[2015-01-12 21:33] mockturtl commented on #104
I'm sorry, I don't understand.

I really should make a CONTRIBUTING file. (#52)

Please do!

[2015-01-12 21:46] kghbln commented on #104
Yeah a CONTRIBUTING file will be cool. Well you seem to be polyglot (https://github.com/mockturtl/cinnamon-weather/commit/28a25b2cd5745d111bb14a4dbd13e987815cf4b6) or the translation come from another source. ;)

Will do a pull-request.

[2015-01-12 22:18] kghbln commented on #104
Done with this pull request: https://github.com/mockturtl/cinnamon-weather/pull/105

[2015-01-12 22:18] #104 closed

[2015-01-23 11:30] #54 closed

[2015-01-23 11:43] mockturtl commented on #31
1. @f2fa5cb252a7f6dbac0d783f2f674f1e655c7d98
1. @48104a56f19815ed89b4ff57959ce1b91c6f4015

@hcgpalm :+1: Done and done.  Thanks for the suggestion!

[2015-01-23 11:43] #31 closed

[2015-01-23 11:45] mockturtl commented on #17
Workaround landed: @6f5d27c853f7841bd1133cd9518c5907e85f4f01

[2015-01-23 11:45] #17 closed

[2015-01-23 11:48] mockturtl commented on #53
This is finally fixed. @6f5d27c853f7841bd1133cd9518c5907e85f4f01

Merging this into #85.

[2015-01-23 11:48] #53 closed

[2015-02-24 10:59] zagortenay333 opened #110 "In-panel font"
Not sure whether this is an issue with this applet or with something else, but I noticed that the font in the panel doesn't change from the default sans font. Here is another text applet next to it with the Droid sans font:
![screenshot from 2015-02-24 11 57 06](https://cloud.githubusercontent.com/assets/11144630/6347982/8836ae6a-bc1c-11e4-856f-c764b498ebeb.png)

[2015-02-24 19:14] mockturtl commented on #110
Please look into it and let me know.

[2015-02-24 19:32] zagortenay333 commented on #110
From what I can see it's the applets fault. I didn't manage to find any selector that can modify it, and all themes have the same issue.

[2015-02-24 22:47] mockturtl commented on #110
I'm afraid I don't know much about fonts.  I can barely spot a difference between the letters "C" in your screencap.

How can I reproduce the problem?

[2015-02-24 22:48] mockturtl commented on #110
[code]

[2015-02-25 11:17] zagortenay333 commented on #110
You are using the default theme; that one has the same sans font, so you can't see a difference. Try using one of my themes, which use the Droid Sans font.

I don't understand what that grep stuff is about. ._."

The only selector which right now has an effect on this is *.applet-label*, and I cannot change the font using it, only the color.

[2015-02-25 18:02] mockturtl commented on #110
With [Numix-Cinnamon](http://cinnamon-spices.linuxmint.com/themes/view/196):

![screencap2](https://cloud.githubusercontent.com/assets/705804/6376728/baf4f57e-bced-11e4-8d4e-9a50509d06ac.jpg)

What should I be looking at?

[2015-02-27 17:21] zagortenay333 commented on #110
Hmm. Looking bit more closely, it seems that only the units "°C" ąnd "°F" are not the droid sans font. The number and conditions have the correct font.
Also numix-cinnamon
![screenshot from 2015-02-27 18 19 05](https://cloud.githubusercontent.com/assets/11144630/6417352/22bb4aa8-bead-11e4-9ca7-e732bd729ad4.png)

Notice how in your screenshot the F from the unit is not the same as the F from "Feb"

[2015-02-27 18:37] mockturtl commented on #110
Eureka!

![scap3](https://cloud.githubusercontent.com/assets/705804/6418674/1e053cd0-be85-11e4-8cd0-0146b25b5674.jpg)

They [are](https://github.com/mockturtl/cinnamon-weather/blob/6f5d27c853f7841bd1133cd9518c5907e85f4f01/applet.js#L786) different characters, in fact: [℃](http://www.fileformat.info/info/unicode/char/2103/index.htm) [℉](http://www.fileformat.info/info/unicode/char/2109/index.htm).

[2015-02-27 18:39] mockturtl commented on #110
Which version of Cinnamon are you running?  I'm on LMDE.

[code]

[2015-02-27 18:43] zagortenay333 commented on #110
I'm running 2.4.6.

Well, if it's a unicode character then that would explain it I guess. Is there any reason for that, or can it just be normal text?

[2015-02-27 18:48] mockturtl commented on #110
Localization, I guess.  It shouldn't translate the way a bare letter C/F would.

Maybe I'm not calling something I should be in 2.4 for a `TextApplet` to participate in system theming.  I'll look into that.

Can you take a screenshot of your panel showing the weather applet's font mismatched beside, say, the calendar applet?

[2015-02-27 18:53] zagortenay333 commented on #110
I wrote above that only the  °C character appears to be mismatched because its a unicode character. The rest looks fine.

You are right though, didn't think that a C in this case shouldn't be translated. I guess it should be left as is then.

[2015-02-27 18:54] zagortenay333 commented on #110
I guess this applet doesn't use a unicode character then: http://cinnamon-spices.linuxmint.com/applets/view/198

[2015-02-27 18:58] mockturtl commented on #110
Am I correct in understanding there is no problem here:

[2015-02-27 19:01] mockturtl commented on #110
See [here](https://github.com/pixunil/cinnamon-applet-system-monitor/blob/master/modules.js#L251), if I'm not mistaken.

[2015-02-27 19:02] zagortenay333 commented on #110
The weird thing is, you showed two screenshots there, one with then numix theme and one with the default theme, and the unicode °F did change as far as I can see. That doesn't happen on my machine. O_o

[2015-02-27 19:07] zagortenay333 commented on #110
Hmm, if both these applets use a unicode characther, how come the C's look different in my screenshot at the top?

[2015-02-27 19:10] mockturtl commented on #110
I see what you're telling me: the horizontal legs of the '℉' are 1 vs. 2 pixels apart.

![](https://cloud.githubusercontent.com/assets/11144630/6417352/22bb4aa8-bead-11e4-9ca7-e732bd729ad4.png)
![](https://cloud.githubusercontent.com/assets/705804/6376728/baf4f57e-bced-11e4-8d4e-9a50509d06ac.jpg)

Maybe it's a bug in 2.4?

[2015-02-27 19:13] mockturtl commented on #110
I [meant](https://github.com/mockturtl/cinnamon-weather/issues/110#issuecomment-76451550) that the source for the system-monitor applet uses the unicode degree symbol [°](http://www.fileformat.info/info/unicode/char/00b0/index.htm) + bare letter C/F.

[2015-02-27 19:28] zagortenay333 commented on #110
Yeah, I just figured that he only uses the ° unicode. I guess nothing can be done in that case.

Also, it seems that droid-sans doesn't support unicode, only droid sans fallback. That's why the °C is borrowed from the sans font in my themes.

[2015-02-27 19:28] #110 closed

[2015-02-27 19:31] mockturtl commented on #110
That's good to know.  Thanks for reporting it.

[2015-02-27 19:32] zagortenay333 commented on #110
I might actually open an issue on the other guys applet to ask whether he could use the '°C' unicode instead of only '°'

[2015-03-24 22:31] #52 closed

[2015-05-27 15:15] sha-hin opened #116 "weather applet loading with no output"
hello

I've installed weather applet but it didn't work at all.
always loading with no result or output.
I've tried punch of WOEIDs with no success.

I've cinnamon v2.4.8
on Linux mint 17.1 Rebecca.

thanks in advance.

[2015-05-27 15:32] mockturtl commented on #116
Which ones?

[2015-05-27 15:37] sha-hin commented on #116
thank you for reply

I've tried EGXX0001,USSD0333,CAXX0504,CAXX2525,BRXX0885,.....etc

I've tried for different location and cities with no success.

[2015-05-27 15:46] mockturtl commented on #116
Thanks, those work for me.

Do you use a proxy?  (Menu -> Network, or run in a terminal: `cinnamon-control-center network`)

[2015-05-27 15:52] sha-hin commented on #116
No I don't use  a proxy.

[2015-05-27 16:52] mockturtl commented on #116
Let's see if you can reach the API from a browser.  Does this link show you some data?

http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20feednormalizer%20where%20url=%22http://xml.weather.yahoo.com/forecastrss/EGXX0001_c.xml%22

[2015-05-27 18:00] sha-hin commented on #116
Unfortunately, the link didn't work.
"Webpage not available".

[2015-05-27 21:23] mockturtl commented on #116
You're having a network problem, then.

Maybe this will help?

https://support.google.com/chrome/answer/117805?hl=en

[2015-05-27 22:55] sha-hin commented on #116
Thank you sir for your help.
I've tried all solution to get this link open but no avail.
Maybe the link is blocked in my country as I asked other two friends to try open it from different PCs but as usual not available even link "weather.yahoo.com" work perfectly so it's strange.
Best wishes.

[2015-05-28 02:40] mockturtl commented on #116
That's my best guess right now.  Maybe you can try the link through a web-based proxy.

Good luck!

[2015-05-28 02:40] #116 closed

[2015-06-19 09:25] cranes-bill opened #120 "„Refreshweather" improvement"
Hi,
First of all, thank you for the nice tool! :ok_hand: And also - sorry for my bad English! :flushed:
And now on the „_issue_“:
I'm using few networks, so the auto-connection is not set. But after manually connect to the network, it takes to much time to show the actual weather, probably because the update it was did on the booting of the system. As workaround i add the following on the settings

[2015-07-20 15:31] mscheper commented on #85
Until this is fixed, what's the workaround for setting a WOEID? I've just upgraded to Mint 17.2 and I'm now experiencing [Issue 49](https://github.com/mockturtl/cinnamon-weather/issues/49) exactly, including '[I can't configure the applet... When I right-click the applet there is a Settings option, but that just takes me to the generic settings for all applets](https://github.com/mockturtl/cinnamo

[2015-07-20 19:00] mockturtl commented on #85
That option has [long been replaced](https://github.com/mockturtl/cinnamon-weather/blame/master/applet.js#L283) with Cinnamon's built-in "Configure" option.

![menu](https://cloud.githubusercontent.com/assets/705804/8783987/62b59f68-2eed-11e5-9a78-dc2ae1750847.jpg)

My guess is that your applet is badly out of date.  Try to remove and reinstall it _(Menu -> Applets)_.  (Failing that: delete the `~

[2015-09-18 14:56] zagortenay333 opened #123 "About dialog"
Could you populate the about dialog with some info? Would be cool.

[2015-09-18 21:29] mockturtl commented on #123
@zagortenay333 Can you show me an example?  None of my applets display anything but the description and version.

[2015-09-18 21:37] zagortenay333 commented on #123
The places/graphic/office center applets do, configurable menu, gpaste, desktop-capture..

[2015-09-19 06:55] rjanja commented on #123
@mockturtl see [modalDialog.js::AboutDialog](https://github.com/linuxmint/Cinnamon/blob/master/js/ui/modalDialog.js#L423), there are a couple of additional undocumented keys you can specify in metadata.json which are used for populating this dialog.

[2015-10-07 19:15] kehugter commented on #120
:+1:
How about refreshing the weather when `(connection established) && (last update > update interval)`?
A button to update manually would be great too. It could be displayed optionally, configuring it in the settings.

[2015-10-13 16:51] vaikus84 opened #124 "Estonian Locations incomplete support"
Hello

Reporting that Estonian locations support is not complete in the application. Although for example weather.com finds those places without issues.

Example:

ENXX0004	Tallinn, Estonia +
ENXX0201	Vaskjala, Estonia -
ENXX0682	Lehmja, Estonia -
ENXX0024	Arukula, Estonia -
ENXX0005	Tartu, Estonia +
ENXX0010	Turi, Estonia +
ENXX0352	Parnu-Jaagupi, Estonia -
ENXX2776	Parnu, Estonia -
ENXX0388	Rapl

[2015-10-14 23:05] mockturtl commented on #124
Hi @vaikus84,

Indeed, Yahoo! Weather doesn't seem to know those locations.  See here:

<https://github.com/mockturtl/cinnamon-weather/wiki/Test-my-city>

Contributions to use a different service are most welcome.

[2015-10-14 23:05] #124 closed

[2015-10-15 10:39] vaikus84 commented on #124
I propose http://www.wunderground.com/weather/api/d/docs?d=autocomplete-api.
Hope you are getting this. Better at Locating Estonian Local places. Also universal because lots of Android widgets use it.

[2015-10-15 10:51] vaikus84 commented on #124
If I'm not mistaken you need this one  http://www.wunderground.com/weather/api/d/docs?d=index    ?

[2015-11-11 10:14] septhijssen commented on #85
In the meantime, since the applet still does not provide feedback about invalid WOEID codes, I would like to suggest
http://iannuttall.co.uk/weather-location-codes/
as possibly better alternative to lookup weather location codes. I tested codes from this list for the Netherlands and for Ireland, and all of them seem to be working. Although the list
 https://weather.codes/
contains a lot more codes

[2015-11-12 20:25] AcostArichA commented on #43
Hi! I have LM 17.2. How can one make his native language to work for its applet? For me it is Russian. At settings I see only 'Translate condition' but its isn't translate at my language. Thank You.

[2015-11-12 21:05] AcostArichA opened #126 "Localization"
Hi! I have LM 17.2. How can one make his native language to work for its applet? For me it is Russian. At settings I see only 'Translate condition' but it isn't translate at my language. Thank You.

[2015-11-15 09:52] Johnny-John opened #127 "Weather applet buggy displaying wrong day"
Linux Mint 17.2 Cinnamon desktop
Weather applet displaying different days as today, usually wrong, generally from the past. Seemingly random, sometimes at the update interval, or at other times when a setting is toggled, the day will shift to another (usually incorrect "today"). Thought I would report it since a lot of people use it and enjoy it quite a bit. Thanks.

[2015-11-18 15:41] mockturtl commented on #127
Thanks for the report.  It looks like Yahoo is having some problems.

https://groups.google.com/forum/#!topic/cinnamon-weather/5cGdo0dHaSk

[2015-11-22 09:14] cranes-bill commented on #120
I'm closing this issue due to no answer.
Furthermore, the applet started to giving incorrect information and i stopped using it.

[2015-11-22 12:58] kehugter commented on #120
@cranes-bill the issue wasn't solved nor rejected, please leave it open.

From https://github.com/mockturtl/cinnamon-weather/blob/master/CONTRIBUTING.md

So here we go: @mockturtl, could you take a look at this?

[2015-11-22 16:52] cranes-bill commented on #120
@kehugter,
 Sorry, i'm reopening it just for you!

[2015-11-22 18:14] mockturtl commented on #120
As a matter of GitHub etiquette, don't do that.  Prefer the "Unsubscribe" button, on the right.

That discussion belongs here: #127

----

@kehugter

I don't know how to discover the network state.  The network manager applet's code could be instructive; please do investigate.

I think a refresh button on the left-click popup menu would be nice.  But the learning curve is pretty steep.

http://dev

[2015-11-22 18:35] mockturtl commented on #126
Hi @AcostArichA,

As far as I know, an applet should automatically use your system language, if a suitable translation file is available.  ([here](https://github.com/mockturtl/cinnamon-weather/blob/master/po/ru.po))

Do you have Russian installed and selected _(Menu -> Languages)_?

If that doesn't fix it, someone on the IRC (Spotchat, #linuxmint-help) or the applet's [mailing list](https://groups

[2015-11-22 18:35] #126 closed

[2015-11-23 07:46] loomsen commented on #127
Hi, I'm having the same troubles. It's showing 10°C when it's snowing outside, so the data is completely off. And this is for Hamburg, the 2nd largest city in Germany. Maybe a rewrite would be useful, where the providers could be added as modules or plugins, so people could write plugins for their preferred provider?
That would be awesome.

[2015-11-23 12:57] gilbertohasnofb opened #130 "Different weather than weather.yahoo.com"
Since a couple of days the weather applet is showing wrong information. For instance, right now it reads 14 degrees Celsius for EZXX0012 (Prague, Czech Republic), https://weather.yahoo.com/ gives the correct temperature of 1 degree Celsius.
I also noticed that sometimes the applet suddenly displays the right information (including the 5 days forecast), but shortly after returns to the wrong values

[2015-11-23 13:52] mockturtl commented on #130
It seems so.  Several people have reported this behavior.

Yahoo is returning last week's weather for your location.  See here:

https://github.com/mockturtl/cinnamon-weather/wiki/Test-my-city

Thank you for the report.  Hopefully it will be fixed soon.

[2015-11-23 13:52] mockturtl commented on #130
Duplicates #127.

[2015-11-23 13:52] #130 closed

[2015-11-23 13:56] mockturtl commented on #127
Meanwhile: https://github.com/mockturtl/cinnamon-weather/wiki/Test-my-city

[2015-11-23 14:05] gilbertohasnofb commented on #130
Thank you for the fast reply, let's hope Yahoo fixes this soon.

[2015-11-25 12:40] cstoudt commented on #127
I'm having the same issue.

Linux Mint 17.2 Cinnamon 64-bit, Cinnamon Version 2.6.13, Kernel 3.16.0-38 generic, Weather applet 1.9.9

The panel applet displays the correct weather information at startup. When the computer goes into sleep or hibernation and then resumes, the weather app displays weather information that appears to be that for several days previous and doesn't update according to th

[2015-11-25 13:33] loomsen commented on #127
It's yahoos fault. Mine seems to be fine today.

[2015-11-25 15:23] ccprog commented on #127
According to my log (produced by [this](https://github.com/ccprog/cinnamon-weather) fork), starting with midnight GMT+0100, all data delivered were clean. We'll have to watch it for a few days, but it seems Yahoo was able to fix the problem.

[2015-12-25 13:12] tomgeor commented on #127
I still see this a lot, are we sure it's fixed?

[2015-12-28 08:24] 4t4h3cl opened #134 "WOEID - new codes update"
As stated [here] (https://docs.rainmeter.net/tips/webparser-weather-location-code/), Yahoo is doing some upgrades of WOEIDs ... and for my case, the old format of WOEID did not work with the existing code, thus i've adjusted it to the new format.

The needed changes to make things work are in the applet.js:

**New URL for WOEID lookup**:

const WOEID_URL = "http://woeid.rosselliot.co.nz/"

**Chang

[2016-01-30 16:35] mockturtl commented on #127
As far as I can tell, the data is correct now.

[2016-01-30 16:35] #127 closed

[2016-02-20 07:50] Tomaszm700 opened #138 "Mint 17.3 No Data query"
Applet do not query any informations. After installation applet show it self in bar but it looks like waiting for informations ( round arrow icon )
I check all the settings with few location codes - no changes.

[2016-02-21 18:43] mockturtl commented on #138
Which applet version?

The first step is to check your location codes in a browser.

https://github.com/mockturtl/cinnamon-weather/wiki/Test-my-city

If those results look OK, do you use a network proxy?

[2016-02-22 06:45] Tomaszm700 commented on #138
Thanks a lot for replay - **Problem found and it is not on side of applet**. I test lot of WOEID codes and only huge Cities codes respond with data. My apologize for rising problem that in fact comes not from app code.
Im wonder of one more thing WOEID applet is using format PLXX0040 ( Poznan, Poland ) I try to find WOEID of my little town and yahoo shown WOEID in this format 514048 ( Poznan, Pola

[2016-02-22 07:28] Tomaszm700 commented on #138
I just found how to find correct working WOEID for own location - I hope this will help someone.

1. open this web page [http://zourbuth.com/tools/woeid/](url)
2. Put name of your location ( in this exaple I will use town called Slupca in Poland )
3. List of location will be shown in respond
**Details			                                WOEID
Slupca	Poland	Greater Poland	518783
Slupca	Poland	Greater

[2016-02-22 07:40] #138 closed

[2016-02-22 07:46] Tomaszm700 commented on #134
I put here an information how to check your actual WOEID - may help someone as well.
[https://github.com/mockturtl/cinnamon-weather/issues/138](url)

[2016-03-08 13:10] vaclavpavek opened #139 "WOEID EZXX0405 not work"
Hi, my WOEID EZXX0405 for Chrudim, Czech Republic not work. But EZXX0034 is OK (Pardubice, Czech Republic). Please help me set up the applet. Thanks

[2016-03-13 18:58] mockturtl commented on #139
@vaclavpavek It looks like Yahoo has no data for EZXX0405.  You can confirm here:

https://github.com/mockturtl/cinnamon-weather/wiki/Test-my-city

I [see](https://www.openstreetmap.org/search?query=chrudim#map=13/49.9984/15.7762) Pardubice is only a few km away.  I suggest using code EZXX0034, and maybe fix the city name with the "Override location label" setting.

[2016-03-13 19:21] vaclavpavek commented on #139
Yahoo has no data for EZXX0405 :-( Thanks

[2016-03-13 19:21] #139 closed

[2016-03-25 23:16] icemodding commented on #134
Argentina, Nor Buenos Aires, Cordoba, etc. - Cities or not loaded directly on San Miguel de Tucuman not appear :(

ice@ice ~ $ cinnamon --version
Cinnamon 2.8.7

[2016-03-26 04:00] mockturtl commented on #134
<https://developer.yahoo.com/weather/>

@icemodding Was it OK before?  Please give me a WOEID to try.

[2016-04-05 20:04] mockturtl commented on #134
[more: tipichris/bbcwx#24](https://github.com/tipichris/bbcwx/issues/23#issuecomment-205880268)

[2016-04-12 19:45] santa-klaus commented on #127
I am sorry, but I still have that problem. I installed it today and it is showing the data for yesterday...
My WOEID is SWXX0007.

[2016-04-13 02:25] ccprog commented on #127
More like again. Yahoo data seem to be stuck since Monday evening - I permanently get Mon Apr 11 2016 18:49:00 GMT+0200 (CEST).

[2016-04-13 05:18] loomsen commented on #127
I second that, stuck on Monday here too.

[2016-04-13 06:44] santa-klaus commented on #127
I am also still on monday, but I can´t check the exact time. However, temperature has changed from 12 to 13 degrees since yesterday.

[2016-04-13 07:16] tonywhelan commented on #134
This appears to be saying that the data is no longer freely available without a Yahoo key and secret? So the weather applet will no longer function?

[2016-04-13 15:26] ccprog commented on #127
I suspect Yahoo is changing things around for its API - like always without telling anyone about it: https://forum.rainmeter.net/viewtopic.php?f=13&t=23010.

Currently, I don't get the URL used by the applet to work. This URL gets a valid response:

```http://query.yahooapis.com/v1/public/yql?format=json&q=select * from weather.forecast where woeid=#LocationCode# and u="#Unit#"```

Exchanging `#Un

[2016-04-13 15:32] loomsen commented on #127
Why don't we move to openweather? http://openweathermap.org/api

[2016-04-13 15:44] ccprog commented on #127
Because they are IT professionals and "meteorological enthusiasts" (http://openweathermap.org/about), not meteorologists?

I am weary of hobbyists saying something like this...

[2016-04-13 15:47] loomsen commented on #127
Right. Will be hard to find something free for the masses, though. I guess...

[2016-04-14 05:59] AndoOfTheWoods opened #144 "Applet works reliably on Fahrenheit, not Celsius"
Hey, love the applet, but for some reason the weather doesn't load reliably for me when using Celsius.
Occasionally it will work on startup, othertimes not, sometimes it takes a long time to load. Overriding location label fixed this initially, but no longer.

The WOEID that I used was ASXX0075 (Melbourne, Australia). The other is 1103816, but this one doesn't seem to work ever.

No network issues

[2016-04-14 14:43] ienev commented on #134
Due to the changed WOEID values it seems the applet doesn't work anymore. For example for Sofia, Bulgaria the old code was BUXX0005 but now it displays the temperature for Sunnyvale, CA which I suppose is some kind of default one if the API can't find the WOEID. I've entered the new code 839722 but it doesn't seem to work as probably the endpoint is changed or requires authentication.

[2016-04-15 08:58] santa-klaus commented on #127
Well, thanks for the commit, I hope that will change it. However, if I use the new WOEID (full numeric) with the existing version of the applet, I don´t get any data at all - while with the old ID I get at least data from some past date. Not sure if thats a thing you fixed in the commit, but thought it would make sense to share that information.

[2016-04-15 10:08] #144 closed

[2016-04-15 10:11] AndoOfTheWoods commented on #144
fixed using pull request #143

[2016-04-16 05:19] Matt832 commented on #134
Applet stopped working for me recently too.  I'm in the US, changing zip code has no effect.  Miss the weather info, wish it would work again.

[2016-04-16 08:02] cranes-bill commented on #134
Yeah, i can confirm the applet stopped working.
@mockturtl, [here](https://cinnamon-spices.linuxmint.com/desklets/view/20) is a desklet, which uses `BBC Weather` . Can you replace the source with it?

[2016-04-16 18:23] vlatkoB commented on #134
Applet is working, but it's data source isn't.

This is url for Zagreb, Croatia (which applet is constructing):

`http://query.yahooapis.com/v1/public/yql?format=json&q=select * from feednormalizer where url="http://xml.weather.yahoo.com/forecastrss/HRXX0005_c.xml"`

and the data is from 5 days ago (today).
 "lastBuildDate": "Mon, 11 Apr 2016 7:00 pm CEST",

[2016-04-17 10:41] 4t4h3cl commented on #134
I've managed to make it work for me by altering a few lines in the applet.js code.
New URL looks like this:

https://query.yahooapis.com/v1/public/yql?q=select+*+from+weather.forecast+where+woeid=532284+and+u=%27c%27&format=json

Attached applet.js is from me, please make a diff or something to see the changes.
Basicaly the only thing that changes is the URL format and this line (removed the rss g

[2016-04-17 11:24] tonywhelan commented on #134
Thanks for the effort you've made here. Result looks good initially (with the new woeid codes) but the 5-day forecast for Canberra AU seems several degrees below what the local forecast says, and what accuweather says. Pressure looks wrong and wind chill is crazy (54C!??). So maybe there is more to this than just those changes you've made? I wish I had the time to have a go at this myself but have

[2016-04-17 15:09] 4t4h3cl commented on #134
Maybe because i've added the temperature unit in Celsius into the URL?
My forecast seems OK, comparing the one from forecast.io and this one (Yahoo).

The pressure seems way off, but i don't care much about pressure... :)

[2016-04-18 16:40] brianjmurrell opened #145 "not displaying the correct weather"
The weather is plain wrong here.  WOEID CAXX0225 is showing -1/6 C with showers.  It is sunny and 22C here right now.

What is the weather source for this WOEID?  I heard some grumblings about Yahoo Weather having gone through some changes lately.  Maybe that's got something to do with it.

[2016-04-18 16:58] ScottGeiger commented on #145
It looks like it's a problem on the Yahoo end.  If you extract the URL out that retrieves the weather XML data you will see that the lastPubDate is old.  For my WOEID the last pub date shows as April 11.  It has not updated since then.

[2016-04-20 00:01] tomgeor commented on #134
Running into the same thing here but I've only tried changing settings or woeids.

[2016-04-20 12:35] mattst opened #146 "No weather info. displayed at all"
The applet is now not working at all for lots of users.

Please see [this thread on the Linux Mint forums](https://forums.linuxmint.com/viewtopic.php?f=212&t=220308) which has more info. and a suggested fix.

Hope this helps.

[2016-04-20 13:16] ScottGeiger commented on #134
I had not seen this before starting to make edits as well.  I made similar changes as @4t4h3cl did can confirm it is now working.

I changed as follows:
(at line 60):
`// Query
const QUERY_PARAMS = '?format=json&q=select '
//const QUERY_TABLE = 'feednormalizer where url="http://xml.weather.yahoo.com/forecastrss/'
const QUERY_TABLE = 'weather.forecast '
const QUERY_VIEW = '*'
const QUERY_URL = 'htt

[2016-04-20 15:23] iksws opened #147 "Stop Work in Cinnamon 2.8.8"
Your applet stop working in cinnamon 2.8.8 well I need this weather infos hehe
I look your code and I think yahoo weather change API I make some changes in your code and working now :D but I change WOEID and now i not get more XML get pure JSON

not more 4 leters and 4 numbers, now is only number of the city in geodata!
After my WOEID is BRXX0043 now my WOEID in applet conf is 27455819
I use this

[2016-04-21 15:40] brianjmurrell commented on #145
So what is the resolution to this problem?

[2016-04-21 15:50] LinuxEngineer commented on #147
I fixed it like this
Just need to change the query block:
[code]
// Query
const QUERY_PARAMS = '?q=select'
const QUERY_TABLE = 'weather.forcast'
const QUERY_VIEW = '*'
const QUERY_CMD = this.woeid
const QUERY_URL = 'http://query.yahooapis.com/v1/public/yql' + QUERY_PARAMS + QUERY_VIEW + ' from ' + QUERY_TABLE + 'where ' +QUERY_CMD
[/code]

Also need to change the WOEID_URL:
[code]
const UUID = "we

[2016-04-21 18:13] ScottGeiger commented on #145
@brianjmurrell - see issue #134 for a fix.

[2016-04-21 18:30] brianjmurrell commented on #134
I get a ```￼504 Gateway Time-out``` trying to access http://woeid.rosselliot.co.nz/ to get a new WOEID to use with @ScottGeiger's new applet.
￼

[2016-04-21 18:31] #145 closed

[2016-04-21 18:31] brianjmurrell commented on #145
This is clearly a duplicate of issue #134.

[2016-04-21 18:40] ScottGeiger commented on #134
I don't have any issue getting to that site.  You can also try Yahoo's YQL test page: https://developer.yahoo.com/yql/console/?q=select%20woeid%20from%20geo.places(1)%20where%20text%3D"nome%2C%20ak"&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys#h=select+woeid+from+geo.places(1)+where+text%3D%22nome%2C+ak%22

As a last resort you could Google it, but there are some incorrect (possible old) W

[2016-04-21 20:04] brianjmurrell commented on #134
@ScottGeiger: Yeah, I got there after a retry.  Deleted my comment also.  :-)

But I have to say, Yahoo's weather is garbage (now).  Even going to their own page https://ca.news.yahoo.com/weather/<country>/<state|province>/<city-*>/ shows completely inaccurate weather.

Google shows much more realistic weather.

[2016-04-24 00:24] NathanSalapat commented on #146
I can confirm that the applet isn't working.

[2016-04-24 11:47] marceloavan commented on #146
I think the PR #143 contains the solution of theses problems.

[2016-04-24 12:29] mattst commented on #146
@marceloavan Thanks that fixed it.

For those unsure - you need to download the zip file on this page:

https://github.com/ccprog/cinnamon-weather/tree/ccprog-yahoo-new-format

and replace the contents of the `~/.local/share/cinnamon/applets/weather@mockturtl` directory with the contents of the zip file's `cinnamon-weather-ccprog-yahoo-new-format` directory.

Hope this helps.

[2016-04-24 13:52] MavropaliasG commented on #147
It has stopped working for me too. However I'm total noob I don't know how to fix it like the guys above.

[2016-04-24 14:14] brub2 commented on #147
Same trouble here. I tried to replace the applet.js file by the file proposed by iksws without success. I also try to directly edit like LinuxEngineer. As I understand, we must also change the WOIED to complete the fix and I now have a 4 digits code (before, it was a longer mix of letters and numbers).

[2016-04-24 16:40] marceloavan commented on #147
The PR #143 contains a solution already applied in the source code. And if you have some doubt to install the applet, the issue #146 have the step's to do it.

[2016-04-25 10:17] IamLosted opened #148 "RU locale is broken?"
Cannot add an applet to panel. There is an error message in glass.log though:
`error t=2016-04-25T10:13:30.315Z Failed to convert UTF-8 string to JS string: Недопустимая последовательность байтов во входных преобразуемых данных
trace t=2016-04-25T10:13:30.315Z
<----------------
dgettext@resource:///org/gnome/gjs/modules/gettext.js:49
_@/home/aleskovets/.local/share/cinnamon/applets/weather@mocktur

[2016-04-26 02:55] denegny opened #149 "try enter number, dont update data"
after update
USNY0996 - no data

version - 1.12.4
Cinnamon 2.8.8

[2016-04-26 07:11] jukaZG commented on #127
Is there a way to replace Yahoo API with Yr.no API? It is an great weather site form Norway.

[2016-04-26 07:13] santa-klaus commented on #127
Is there anything going to happen? My applet still won´t work...

[2016-04-26 07:15] santa-klaus commented on #146
Thanks for the step-by-step tutorial, that helped a lot!

[2016-04-26 12:44] loomsen commented on #127
Wetter.com also seems to be working on some openweather API for non commercial use.

https://api.wetter.com/files/wetter.com_openweather_api.pdf
(in german...)

[2016-04-26 22:42] BobGirard opened #150 "Minutes in sunrise/sunset times should be zero-padded"
For the sunrise and sunset times, the minutes value should be zero-padded.  For my locale (Pacific Daylight Time), today's sunset time is displaying as either "7:9 pm" (12-hour display) or "19:9" (24-hour display).

Distro: Linux Mint 17.3 (Rosa) 64-bit
Cinnamon version: 2.8.8
Applet version: 1.12.4

[2016-04-27 04:17] ccprog opened #151 "State licence and copyright holders for the project"
I'm assuming this was a simple error at the time, but with 566c764dff2faaa564c789bf931e94bc903e6f07 you deleted the GPLv3 licence and copyright notices from this project.

As this was not allowed by the licence, please re-insert it.

[2016-04-28 13:04] ccprog commented on #127
The wetter.com website is currently incomplete because of an overhaul. Therefore I sent them an email asking for details whether the openweather API could be used for a CInnamin desktop applet. The conversation was in german, so I'm paraphrasing the answer:

- The API website is under construction, new projects currently cannot be added.
- The openweather API is free of charge only for private pro

[2016-04-29 13:54] Zerophase commented on #146
Hmm. Tried this fix, hitting refresh doesn't still work. Running on Cinnamon 3.0 though.

[2016-05-02 12:18] kwendenarmo commented on #147
+1 here! Fixed using code in #143

[2016-05-05 15:13] deekej commented on #74
Sorry, but I don't like this proposal. I have a Full HD screen, and the space it takes is really not big nor significant for me.

I know I can remember it is set for °C, but since there were few issues with the applet lately, I would have tendencies to often check it if it is still displaying the correct system.

I can imagine this having as an option, but it shouldn't be default behaviour.

[2016-05-06 23:01] sukosevato commented on #146
I'm running on Cinnamon 3.0 as well and it works for me just fine.

I didn't try the ccprog-yahoo-newformat branch but used the branch which is most current of ccprog which is this:

https://github.com/ccprog/cinnamon-weather/archive/ccprog-yahoo-band-aid.zip

@Zerophase  be sure to use the new correct woeid format:

(Amsterdam, Netherlands)
New format: 727232
Old format: NLXX0002

http://woeid.ro

[2016-05-07 00:09] Zerophase commented on #146
Turns out I just needed to reconfigure everything in settings.

[2016-05-08 08:39] loomsen commented on #127
http://api.daswetter.com/
What about this?

"Sie können diese Informationen für Handy-Apps, Fernseh- oder Radioprogramme, Zeitungen, etc., auch für das Internet vollkommen kostenlos nutzen."

[2016-05-08 15:51] ccprog commented on #127
yr.no has current conditions only for places in Norway, internationally it provides only forcasts. daswetter.com (or rather, tiempo.com) seems to only provide forecasts, I could not find current conditions at all.

[2016-05-09 09:16] jukaZG commented on #127
So what is the best solution to have somehow working applet?
How could I manage to add anything to my applet to have temperature at the moment, etc.?

[2016-05-11 08:24] ledzgio opened #153 "Script not working"
I cannot get information about my city using this:

http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20feednormalizer%20where%20url=%22http://xml.weather.yahoo.com/forecastrss/QAXX0003_c.xml%22

I get an error in JSON string:

"results":{"error":"XML parsing error at line: 14, column: 3. The element type \"HR\" must be terminated by the matching end-tag \"</HR>\"."}

[2016-05-11 17:24] kghbln commented on #147
Broken for me too in 2.8.8. A merged fix is highly appreciated.

[2016-05-12 01:32] mockturtl commented on #153
Same here.  Thank you for the report.

I've updated the [wiki][].  Please try the new URL.

[wiki]: https://github.com/mockturtl/cinnamon-weather/wiki/Test-my-city

[2016-05-17 06:26] yoosefi commented on #153
Tried the new URL manually, it works. Tried updating the script to use the manual URL with XML format on line 803. Doesn't work.

[2016-05-17 07:46] yoosefi commented on #153
see pull #155

[2016-05-23 00:11] #153 closed

[2016-05-23 00:17] mockturtl commented on #149
@denegny Yahoo seems to require different WOEID codes now.  See here: https://github.com/mockturtl/cinnamon-weather/wiki/Test-my-city

[example](http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=%222459115%22%20and%20u=%22c%22)

[2016-05-23 00:17] #149 closed

[2016-05-23 01:58] mockturtl commented on #151
I believed at the time, and still do, that copyleft is inappropriate for this script.  See "Small programs," here: http://www.gnu.org/licenses/license-recommendations.en.html

As you point out, the GPL seems to prohibit me from correcting the error.  Consequently, and meaning no disrespect to previous authors, I choose not to endorse it.

The complete contribution history is, of course, freely ava

[2016-05-23 14:16] ccprog commented on #151
I learned something new today - I had never heard about that 300 lines benchmark.

Now I could point out that the program is at 1000 lines...on the other hand, I am not a friend of the GPL myself, especially because of the rigidity of the way copyleft is handled. I came up with the issue mainly because I missed any sort of statement about copyright, and most importantly mentioning the names of the

[2016-05-23 18:31] msrego opened #157 "Problems with pressure readings"
With the new Yahoo API format, the applet gives wrong pressure readings (e.g. 33.8555 atm).

I read in cinnamon-spices applet page some comments that mention that the API readings are returned with wrong units. They seem to be set to mbar.

Edit: Cinnamon 2.6.13 and applet version 1.12.5

[2016-05-29 16:37] CyberTailor commented on #157
Example of **very** big pressure (25425 mm Hg)

http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=%2290563928%22%20and%20u=%22c%22

How about using other weather providers (e.g yr.no, OpenWeatherMap)?

[2016-05-29 16:50] msrego commented on #157
@CyberTailor
I would even suggest to have a list of providers to choose from in the settings window, as that would give the user the possibility to choose the provider that suits his needs (in terms of accuracy of data, etc).

I don't know if such change is difficult to implement, but it would be a very nice feature to have in the applet.

[2016-06-05 22:51] #150 closed

[2016-06-11 19:28] mockturtl commented on #147
duplicates #127

[2016-06-11 19:28] #147 closed

[2016-06-11 19:29] mockturtl commented on #134
duplicates #127

[2016-06-11 19:30] #134 closed

[2016-06-11 19:30] mockturtl commented on #146
duplicates #127

[2016-06-11 19:30] #146 closed

[2016-06-11 19:31] mockturtl commented on #148
@IamLosted Can you update to the latest release (1.13.0) and tell me what happens?

[2016-06-12 16:30] #157 closed

[2016-06-20 07:10] IamLosted commented on #148
Works just fine now. Thanks!

[2016-06-20 19:02] mockturtl commented on #148
Great!

[2016-06-20 19:02] #148 closed

[2016-07-10 20:05] spekulatius-fb opened #162 "24-hour time display not working OK"
24-hour time display not working correctly on debian jessie

e.g. 9:33pm is displayed as 12:33

To correct this issue:
  change the line
   return (parseInt(hh) + 12).toString() +':' + mm
to
   return (parseInt(hh,10) + 12).toString() +':' + mm
in "weather@mockturtl/applet.js":

, convertTo24: function convertTo24(timeStr) {
    let s = timeStr.indexOf(':')
    let t = timeStr.indexOf(' ')
    let

[2016-07-11 22:53] mockturtl commented on #162
Hi @spekulatius-fb, please provide

- your cinnamon version and applet version
- steps to help me reproduce the behavior you're seeing
- a pull request, to help me identify the changes you're proposing

Thanks!

[2016-07-11 23:20] mockturtl commented on #162
If I understand correctly, `cjs` uses spidermonkey, and its `parseInt` uses base 10 by default.  ([docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt))

[code]

In addition, the applet formats 24-hour time correctly for me (mint betsy/debian jessie).  I wonder if localization might make a difference. (en_US here)

[2016-07-12 05:09] spekulatius-fb commented on #162
Hi @mockturtl

I use a debian jessie 64bit

cinnamon:
  Installiert:           2.2.16-5

Weather 1.13.2

# locale
LANG=de_DE.UTF-8
LANGUAGE=
LC_CTYPE="de_DE.UTF-8"
LC_NUMERIC="de_DE.UTF-8"
LC_TIME="de_DE.UTF-8"
LC_COLLATE="de_DE.UTF-8"
LC_MONETARY="de_DE.UTF-8"
LC_MESSAGES="de_DE.UTF-8"
LC_PAPER="de_DE.UTF-8"
LC_NAME="de_DE.UTF-8"
LC_ADDRESS="de_DE.UTF-8"
LC_TELEPHONE="de_DE.UTF-8"
LC_MEASUREMENT=

[2016-07-12 14:10] mockturtl commented on #162
My understanding is that Cinnamon uses the Mozilla JS engine (`libmozjs-24`), where `parseInt` has correctly defaulted to decimal since [version 21](https://developer.mozilla.org/en-US/docs/Web/JavaScript/New_in_JavaScript/Firefox_JavaScript_changelog#Firefox_21).

So the behavior you see is a little mysterious to me.  ~~Can you [test](https://github.com/mockturtl/cinnamon-weather/issues/162#issue

[2016-07-12 20:31] spekulatius-fb commented on #162
Yes I can confirm the patch works for my system.

in jessie-backports repository cinnamon got upgraded already

[code]

I upgraded one of my systems to Cinnamon 3.0.4 and the 24h time display works (as expected) out of the box.

So for standard debian-jessie installations the patch seems to be necessary but for more actual systems it is not required.

Welcome - and thank you for the applet ;)

[2016-07-13 10:49] sakralbar opened #163 "Wrong pressure in mmHg"
Hello!
The weather widget show 25679 mmHG, but now it only 758.
![2016-07-13 13 45 05](https://cloud.githubusercontent.com/assets/11180735/16800962/a1e60fc8-4900-11e6-8bf8-e4f97e5d76c3.png)

[2016-07-16 22:34] #162 closed

[2016-07-16 22:48] mockturtl commented on #163
Hi!  красивые Калашн!

1. Is the value wrong in different units?  I wonder if the weather service just sent bad data.  For me, it displays and [converts](https://www.google.com/#q=1+in+in+mm) correctly (29.71 inHg, 755 mmHg).
1. Please tell me your Cinnamon version and applet version.

[2016-07-17 11:24] sakralbar commented on #163
Thanks)

1. Yes, in inHg (1005), atm(33,5) and kPa (3403) wrong values too. Now in my city 754 mmHg, in applet -  25527. But one time apllet show correct value in inHg when I select it. After this wrong values again.
2. Cinnamon 3.0.6, applet 1.12.5

Sorry for my english.

[2016-07-17 16:45] mockturtl commented on #163
Updating the applet should fix it.  Yahoo's pressure data is now wrong by a constant factor of 0.0295; this was fixed in version 1.13.1.  (see 6fadef3)

You can check the data here: https://github.com/mockturtl/cinnamon-weather/wiki/Test-my-city

[2016-07-17 17:07] sakralbar commented on #163
Yes, after update all ok, thank you.

[2016-07-17 17:07] #163 closed

[2016-07-19 13:17] digeomel commented on #14
I'm not sure what is the current status of this, since the last post is from 2012, but I'm still experiencing proxy authentication issues on RHEL 7 with Cinnamon 2.8.8 and the latest version of the Weather applet. If I set the proxy settings to manual, it works fine. When I switch to a wpad automatic script, it fails. Any ideas?

[2016-07-19 18:03] mockturtl commented on #14
@digeomel The upstream bug status (https://bugzilla.gnome.org/show_bug.cgi?id=684921) indicates "auto" has the intended behavior.

I don't use or understand GNOME proxying, but it's probably outside the scope of an applet.  You might want to [file an issue with Cinnamon](https://github.com/linuxmint/cinnamon/issues) explaining the observed vs. expected behavior.

[2016-08-09 08:02] hladikmarek opened #164 "Proxy"
Extension cinnamon-weather don't respect proxy server settings in the system. Unable to retrieve weather data in systems with proxy.

[2016-08-09 19:35] mockturtl commented on #164
Hi @hladikmarek, please see discussion on [#14](https://github.com/mockturtl/cinnamon-weather/issues/14#issuecomment-233716053) for proxy settings.

[2016-08-09 19:35] #164 closed

[2016-08-12 00:18] ibm1130 opened #165 "Weather only shows Loading,,,"
Currently Fedora 24. Cinnamon weather 1.8.7

I saw a previous post but it is closed.

I followed the instructions listed to test check prxy.

No proxy.

The suggested URL to try: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20feednormalizer%20where%20url=%22http://xml.weather.yahoo.com/forecastrss/EGXX0001_c.xml%22

produced this line:
{"query":{"count":1,"created":"201

[2016-08-12 18:29] mockturtl commented on #165
Hi John,

It looks to me like Yahoo weather knows some of those locations, but not others.

https://github.com/mockturtl/cinnamon-weather/wiki/Test-my-city

- [EGXX0001](http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=%22EGXX0001%22%20and%20u=%22c%22) fails
- [USKS0572](http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20f

[2016-08-13 01:27] ibm1130 commented on #165
Cinnamon 3.0.1

Now getting more confused.  I did a comple update from Fedora 23 to Fedora 24.  I have performed several update since then.  Looking at the list of installed applets there is nothing indicating the version.  When I right click on the area where temperature should be, and left-click on about, that is wheer I see 1.8.7.  Is this then an issue with Fedora 24 not being current?

[2016-08-13 01:37] ibm1130 commented on #165
When I click on the more information tab, firefox opens a page stating 1.13.3

John McKee

[2016-08-13 03:18] ibm1130 commented on #165
The tab I am referring to is seen when looing at the list of installed apps.  That is where the link to the page exists.

John McKee

[2016-08-13 21:53] mockturtl commented on #165
Gotcha.  Click "Refresh list" here, and you should see an update available.

![screenshot from 2016-08-13 17 50 47](https://cloud.githubusercontent.com/assets/705804/17645827/81fcbb76-617e-11e6-9df7-66d0ed18cb14.png)

[2016-08-14 07:10] ibm1130 commented on #165
Thank you.  Never occurred to me to do that, as I believed the upgrade would have done that.  I have older Fedora installed on a few computers.  I have no idea who prepared the weather applet before Gnome changed and Cinnamon got started.  That old weather program still works.  It could dsplay the radar if available, as well as the forecast in text.  Also weather alerts.  I miss that.

But, just s

[2016-08-14 16:40] mockturtl commented on #165
You're welcome.  I'm glad it's working for you.

[2016-08-14 16:40] #165 closed

[2016-11-03 10:55] SerafDosSantos opened #169 "Change The Wind Chill Label"
The 'Wind Chill' label should be 'Felt Temp.' where in summer humidity is the factor to make the temperature higher, and in winter, wind and humidity drops it.

[2016-11-03 12:56] mockturtl commented on #169
I don't think the Yahoo! API provides a "heat index" value.   [test][] | [docs][]

The [calculation][calc] is somewhat convoluted, but I welcome a pull request if someone wants this feature.

"[Apparent temperature][apparent]" seems to be more art than science.  [In the US][nws], it means wind chill below 50°F, and heat index above 80°F.  [Australia][aus] uses more variables.  Is there a global st

[2016-11-03 23:46] SerafDosSantos commented on #169
I don't know of global standards as I'm a simple user of the applet. Although I observed this summer that the Wind Chill label was indicating higher temperatures due to humidity as I guess that the Yahoo API already calculates these estimations. So the label is a little misguiding. There's really no rush on my side as winter is coming and the Wind Chill label will have its full sense. Try to obser

[2016-12-04 21:41] stunito0o0o0 opened #170 "Couple of issues..."
Hello,
first I want to thank you guys for the awesome applet.
So about the issues, as you can see from the screenshot below, I am using a macbuntu theme and a 7 day forecast. All works well except for the weather dialog not being centered, which i know is not a big deal, but it annoys me lol. The second thing  is that the day forecast text is not black, but some green-ish color, which i tried to l

[2016-12-04 21:49] mockturtl commented on #170
Please tell me your distro, Cinnamon version, and applet version.

I don't know anything about that.  Is it [one of these][spices]?  Have you tried other themes?

[spices]: https://cinnamon-spices.linuxmint.com/themes

[2016-12-04 21:58] stunito0o0o0 commented on #170
I am using mint 18

[2016-12-04 22:03] stunito0o0o0 commented on #170
oh and this is what i use for theme settings
![image](https://cloud.githubusercontent.com/assets/21028278/20869594/4b297266-ba7e-11e6-905f-a721bf9bda6c.png)

[2016-12-07 09:47] artscoop opened #171 "The applet is missing atmospheric pressure in hPa"
hPa and inHg (US only) are essentially the only 2 units in use for atmospheric pressure.
hPa is not supported by the applet.
I don't know if it's a feature request or a bug report.

[2016-12-07 13:21] mockturtl commented on #171
1 hPa = 1 mbar

What's the problem?

[2016-12-07 13:24] mockturtl commented on #171
http://weather.mailasail.com/Franks-Weather/Hectopascals-And-Millibars

http://www.weatheronline.co.uk/reports/wxfacts/Millibar-and-hectopascal.htm

[2016-12-07 13:30] mockturtl commented on #170
I think it's a problem with your theme.  You might want to report it to them.

Alternatively, check out the "Add/remove desktop themes..." link (bottom of your screenshot).

[2016-12-07 13:30] #170 closed

[2016-12-07 13:47] stunito0o0o0 commented on #170
I will try to change the theme and report back to you. Thanks

[2016-12-07 18:35] artscoop commented on #171
Oh, sorry. My bad.
Thanks!

[2016-12-07 18:35] #171 closed

[2016-12-08 16:58] stunito0o0o0 opened #172 "Applet day forecast not centered"
Hello, I am sorry for making a new  thread, but you closed the [previous one](https://github.com/mockturtl/cinnamon-weather/issues/170) and didn't let me post an update with the stock theme.

So, as promised, I made a fresh install of mint 18 on a virtual machine, I downloaded the applet, and put it in che center part of the panel. As you can see It is still not centered, so this is a problem with

[2016-12-08 21:18] mockturtl commented on #172
You can still comment on closed issues.

Cinnamon controls panel layout, not the individual applet.

[2016-12-08 21:18] #172 closed

[2016-12-08 21:20] mockturtl commented on #172
This issue is now locked; please continue discussion on #170.

[2016-12-09 01:07] stunito0o0o0 commented on #170
Okay, so how can I fix it?

[2016-12-09 01:51] mockturtl commented on #170
You can report it to [Cinnamon](https://github.com/linuxmint/cinnamon/issues), but I think it's a pretty unusual request.  Why do you expect a tooltip to be centered?

[2016-12-09 11:09] stunito0o0o0 commented on #170
Well I like symmetry, I don't see anything wrong with that.

[2016-12-19 19:21] zagortenay333 opened #175 "The `.weather-menu` class is not applied"
Since cinna `3.2` the top menu class `.weather-menu` is not applied. Looks like the method for adding one was changed.

See: https://github.com/linuxmint/Cinnamon/pull/5948/files#diff-9730f14a54367b06bdc5d0af4a9a5706

[2017-01-01 18:18] jaszhix opened #177 "Weather data doesn't load until commenting out try-catch block in MyApplet.refreshWeather"
Linux Mint 18.1
Cinnamon 3.2.7
Weather 1.13.7

For some reason the applet only loads once on a fresh boot. If I restart Cinnamon or the applet, the http request never completes. When I comment out [this try-catch block](https://github.com/mockturtl/cinnamon-weather/blob/master/applet.js#L389), it works every time. I can see this might not be an issue if someone never restarts Cinnamon, but I think

[2017-01-08 20:41] mockturtl opened #180 "release blocked"
- [x] resubmit abf041a  ([diff](https://github.com/mockturtl/cinnamon-weather/compare/v1.13.7...v1.13.8))
  - linuxmint/cinnamon-spices-applets#12
- [x] changelog?
  - [no](http://blog.linuxmint.com/?p=3199#comment-134635)
- [x] open issues?

----

`cinnamon-spices.linuxmint.com` is not currently accepting uploads.  Publish new releases when it comes back online.

[2017-01-13 13:52] sdgathman commented on #177
Using native parsing would effectively run code from an untrusted source (yahoo).  Do you really want yahoo running arbitrary javascript code in your cinnamon desktop?

[2017-01-13 16:29] jaszhix commented on #177
I don't. Fortunately, that has nothing to do with this issue, nor is it possible as CJS can't run browser JS without modification.

[2017-01-22 19:07] mockturtl commented on #180
Catching up:

http://blog.linuxmint.com/?p=3199
http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-22 19:31] mockturtl commented on #180
- resubmit abf041a

[2017-01-27 15:57] vpal opened #181 "No colors on panel icons"
Greetings,

When I uncheck "Symbolic icons" in the configuration the icons on the panel are barely visible very dark and missing colors.
Colors are visible in the forecast window.
I would expect the icons to look like this https://cinnamon-spices.linuxmint.com/git/applets/weather@mockturtl/screenshot.png instead of how they look like here: ![weather-applet-icons](https://cloud.githubusercontent.co

[2017-01-29 19:36] #29 closed

[2017-01-29 19:37] #37 closed

[2017-01-29 20:03] mockturtl commented on #12
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:03] #12 closed

[2017-01-29 20:03] mockturtl commented on #64
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:03] #64 closed

[2017-01-29 20:03] mockturtl commented on #73
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:03] #73 closed

[2017-01-29 20:03] mockturtl commented on #74
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:03] #74 closed

[2017-01-29 20:03] mockturtl commented on #75
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:03] #75 closed

[2017-01-29 20:04] mockturtl commented on #85
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:04] #85 closed

[2017-01-29 20:04] mockturtl commented on #120
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:04] #120 closed

[2017-01-29 20:04] mockturtl commented on #123
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:04] #123 closed

[2017-01-29 20:04] mockturtl commented on #151
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:04] #151 closed

[2017-01-29 20:04] mockturtl commented on #169
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:04] #169 closed

[2017-01-29 20:04] mockturtl commented on #175
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:04] #175 closed

[2017-01-29 20:04] mockturtl commented on #177
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:04] #177 closed

[2017-01-29 20:05] mockturtl commented on #181
Hello,

This issue is being closed because development is moving to [linuxmint/cinnamon-spices/applets](https://github.com/linuxmint/cinnamon-spices-applets).  Feel free to reopen your issue there.

Please see the release announcement here:

http://segfault.linuxmint.com/2017/01/changes-to-cinnamon-spices-for-developer-and-artists/

[2017-01-29 20:05] #181 closed

[2017-01-29 20:06] #180 closed

[2017-11-03 14:06] kaqqao opened #182 "Stuck in "Loading""
It's eternally stuck in "Loading" for me. The only reason I can come up with is that I have to connect to the internet through a proxy. Maybe the applet doesn't respect the Gnome proxy settings?

[2017-11-03 14:14] mockturtl commented on #182
Hi @kaqqao, please note development has moved.

https://github.com/mockturtl/cinnamon-weather#notice-this-repository-is-no-longer-maintained

re: Gnome proxy settings, see #14.  You may find some useful information in that thread.

[2017-11-03 14:14] #182 closed, assigned to nobody